$measure-width: 300px;
$row-height: 15px;
$line-height: 1px;


.note-line {
    width: $measure-width;
    height: $row-height;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-line-internal {

    width: $measure-width;
    height: $line-height;
    background-color: black;
    position:relative;
}

.note-space {
    width: $measure-width;
    height: $row-height;

}

.note-space-internal {
    width: $measure-width;
    height: $row-height;
    position:relative;
}


.note-bar {
    height: 8 * $row-height + $line-height;
    width: 2px;
    background-color: black;
    display: inline-block;
}

.note-measure-inner {
    width: $measure-width;
    display: inline-block;
}

.note-staff-img {
    position: absolute;
    top: 25%;
    pointer-events: none;
}

.note-staff-img > svg 
{
    transform: translateY(-75%);
    height: 40px;
    width: auto;
}